* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 350px;
  padding: 30px;

  background: white;
  border-radius: 15px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.box h2 {
  margin-bottom: 20px;
}

.box input {
  width: 100%;
  padding: 12px;

  margin-bottom: 15px;

  border: 1px solid #ddd;
  border-radius: 8px;
}

.box button {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 8px;

  background: black;
  color: white;

  cursor: pointer;
}

.box p {
  margin-top: 15px;
}

.box span {
  cursor: pointer;
  font-weight: bold;
}

.hidden {
  display: none;
}
