* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}

.btn {
  padding: 10px 25px;
  border: none;
  background-color: green;
  color: snow;
  border-radius: 10px;
  font-size: 30px;
}
.btn:active {
  transform: scale(0.8);
}

.div-1,
.div-2,
.div-3,
.div-4,
.div-5,
.div-6,
.div-7,
.div-8,
.div-9 {
  width: 200px;
  height: 200px;
  padding: 20px;
  background-color: red;
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: snow;
}
