* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}
/* 
#menu {
  display: none;
}

#menu.active {
  display: block;
  background-color: red;
} */


.menu {
    border: 1px solid red;
}

.active {
    background-color: green;
}